*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    border-radius: 5px;
}

:root{
    --bg:#f5f2ed;
    --text:#111;
    --accent:#6f8f7e;
    --border:#d6d2cc;
}

body{
    background:var(--bg);
    color:var(--text);
    font-family:Arial,sans-serif;
}

a{
text-decoration:none;
color:inherit;
}

                                                /* NAVBAR */

.navbar{
    height:80px;
    padding:0 24px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid var(--border);
}

.desktop-nav{
    display:none;
}

.logo{
    font-size:2rem;
}

.logo,
.logo:visited{
color:var(--text);
text-decoration:none;
}

.menu-icon{
    font-size:2rem;
}

                                            /* MOBILE MENU */

.mobile-menu{
    position:fixed;

    top:0;
    left:0;

    width:100%;
    height:100vh;

    background-image:url(images/menu-bg.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    gap:35px;

    z-index:9999;

    opacity:0;
    visibility:hidden;

    transition:0.3s;
}

.mobile-menu.active{
    opacity:1;
    visibility:visible;
}

.mobile-menu a{
    text-decoration:none;
    color:var(--text);

    font-size:2rem;
    text-transform:uppercase;
}

.close-menu{
    position:absolute;

    top:30px;
    right:30px;

    border:none;
    background:none;

    font-size:2.5rem;

    cursor:pointer;
}

                                                /* HERO */

.hero{
    display:flex;
    flex-direction:column;
}

.hero-left{
    padding:40px 24px;
}

.hero-left h1{
    font-size:4rem;
    line-height:0.9;
    margin-bottom:30px;
}

.hero-left h2{
    font-size:1.4rem;
    margin-bottom:24px;
}

.hero-left p{
    line-height:1.7;
    margin-bottom:30px;
}

.hero-btn{
    display:flex;
    align-items:center;
    justify-content:center;

    width:100%;
    height:60px;

    background:var(--accent);
    color:white;

    text-decoration:none;
}

.hero-image{
    display:none;
}

.hero-right{
    padding:40px 24px;
}

.line{
    width:100%;
    height:1px;
    background:var(--border);
    margin-bottom:30px;
}

.hero-right h3{
    margin-bottom:20px;
}

.hero-right p{
    line-height:1.7;
}

.about-btn{

display:inline-flex;
align-items:center;
justify-content:center;

width:260px;
height:60px;

background:var(--accent);

color:white;

text-decoration:none;

text-transform:uppercase;

letter-spacing:1px;

margin-top:40px;

transition:0.3s;

}

.about-btn:hover{

opacity:0.85;

}

                                            /* PROJECTS */

.projects{
    padding:60px 24px;
}

.projects-header{
    margin-bottom:30px;
}

.projects-header h2{
    font-size:2rem;
    margin-bottom:10px;
}

.projects-grid{
    display:flex;
    flex-direction:column;
    gap:24px;
}

.project-card{
    position:relative;
    overflow:hidden;
    cursor:pointer;
}

.project-card img{
    width:100%;
    height:220px;

    object-fit:cover;

    display:block;
}

.project-card:hover{
    opacity:0.9;
}

.project-info{
    padding:20px 0;
}

.project-info span{
    display:block;
    margin-bottom:10px;
    opacity:0.6;
}

.project-info h3{
    font-size:1.5rem;
    margin-bottom:10px;
}

.project-info p{
    font-size:0.95rem;
}

                                            /* SKILLS */

.skills{
    padding:60px 24px;
}

.skills-header{
    margin-bottom:30px;
}

.skills-header h2{
    font-size:2rem;
    margin-bottom:10px;
}

.skills-header p{
    line-height:1.6;
}

.skills-grid{
    display:flex;
    flex-direction:column;
}

.skill-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 0;

    border-bottom:1px solid var(--border);
}

.skill-item span:first-child{
    font-weight:500;
}

.skill-item span:last-child{
    opacity:0.6;
    font-size:0.9rem;
    text-transform:uppercase;
}

                                            /* CONTACT */

.contact{
    padding:60px 24px;
}

.contact-small{
    margin-bottom:15px;
}

.contact h2{
    font-size:2.2rem;
    margin-bottom:30px;
}

.contact-form{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.contact-form input,
.contact-form textarea{
    width:100%;
    padding:16px;
    border:1px solid var(--border);
    background:transparent;
    font-family:inherit;
}

.contact-form textarea{
    min-height:140px;
    resize:none;
}

.contact-form button{
    width:100%;
    height:56px;

    border:none;

    background:var(--accent);
    color:white;

    cursor:pointer;

    transition:0.3s;
}

.contact-form button:hover{
    opacity:0.85;
}

                                            /* FOOTER */

.footer{

    padding:60px 24px;

    border-top:1px solid var(--border);

    display:flex;

    flex-direction:column;

    gap:30px;

}

.footer-info h2{

    font-size:2rem;

    margin-bottom:10px;

}

.footer-info p{

    line-height:1.7;

}

.footer-links{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.footer-links a{

    color:var(--text);

}

                                            /* MEDIA QUERIES */

@media (min-width:1024px){

    main{
        padding-top:80px;
    }

    .desktop-nav{
        display:flex;
        gap:50px;
        margin-left:auto;
    }

    .desktop-nav a{
        text-decoration:none;
        color:var(--text);
        text-transform:uppercase;
        font-size:0.9rem;
        letter-spacing:1px;
    }

    .desktop-nav a:hover{
        color:var(--accent);
    }

    .menu-icon{
        display:none;
    }

    .navbar{
        position:fixed;

        top:0;
        left:0;

        width:100%;

        display:flex;

        align-items:center;

        padding:0 50px;

        background:var(--bg);

        border-bottom:1px solid var(--border);

        z-index:1000;

    }

    .menu-icon{
        display:none;
    }

    .logo{
        font-size:2rem;
    }

                                                /* HERO */

    .hero{
        display:grid;
        grid-template-columns:minmax(0,0.95fr) minmax(320px,1.1fr) minmax(0,0.85fr);
        gap: 20px;
    }

    .hero-image{
        display:block;
    }

    .hero-image img{
        max-width:100%;
        max-height:100%;
        transform: translateY(-100px);
        object-fit: contain;

        object-position:center center;
    }

    .hero-left{
        display:flex;
        flex-direction:column;
        justify-content:center;

        padding:0 50px;
    }

    .hero-left h1{
        font-size:clamp(5rem,6vw,7rem);
    }

    .hero-left h2{
        font-size:1.8rem;
    }

    .hero-left p{
        max-width:500px;
    }

    .hero-right{
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding:0 50px;
    }

    .line{
        width:250px;
    }

                                                    /* PROJECTS */

    .projects{
        padding:70px 60px;
    }

    .projects-header{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }

    .projects-grid{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        gap:25px;
    }

    .project-card img{
        height:400px;
    }

                                                /* SKILLS */

    .skills{
        padding:100px 60px;
    }

    .skills-header h2{
        font-size:3rem;
    }

    .skills-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        column-gap:120px;
    }

                                                /* CONTACT */

    .contact{
        padding:120px 60px;
    }

    .contact h2{
        font-size:5rem;
    }

    .contact-form button{
        width:250px;
        font-size: 18px;
    }

                                                    /* FOOTER */

    .footer{
        display:flex;
        justify-content:space-between;
        align-items:flex-start;
        padding:80px;
    }

    .footer-links{
        display:flex;
        flex-direction:column;
        gap:20px;
    }
}
